node_modules
.svelte-kit

dist
build
!build/entitlements.mac.plist
build_electron
package
package-lock
out


.env
.env.*
*.local
!.env.example

yarn-error.log
package-lock.json
pnpm-lock.yaml

.DS_Store
