@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
	display: none;
}

* {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

.text-shadow-sm {
	text-shadow: 1px 1px 5px black;
}
.text-shadow {
	text-shadow: 3px 3px 5px black;
}
.text-shadow-lg {
	text-shadow: 5px 5px 5px black;
}

.box-shadow-sm {
	box-shadow: 1px 1px 5px black;
}
.box-shadow {
	box-shadow: 3px 3px 5px black;
}
.box-shadow-lg {
	box-shadow: 5px 5px 5px black;
}
