name: Build

on:
    workflow_call:
        inputs:
            runs-on:
                required: true
                type: string
            file:
                required: true
                type: string

jobs:
    deploy:
        runs-on: ${{ inputs['runs-on'] }}
        environment: production
        permissions: write-all
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 20.15.1

            - name: Decode and import signing certificate
              if: runner.os == 'macOS'
              run: |
                  echo "${{ secrets.MACOS_CERTIFICATE }}" | base64 --decode > certificate.p12

                  security create-keychain -p "" build.keychain

                  security import certificate.p12 -k build.keychain -P "${{ secrets.MACOS_CERTIFICATE_PASSWORD }}" -T /usr/bin/codesign

                  security list-keychains -s build.keychain
                  security unlock-keychain -p "" build.keychain

                  security set-key-partition-list -S apple-tool:,apple: -s -k "" build.keychain
              env:
                  MACOS_CERTIFICATE: ${{ secrets.MACOS_CERTIFICATE }}
                  MACOS_CERTIFICATE_PASSWORD: ${{ secrets.MACOS_CERTIFICATE_PASSWORD }}

            - name: install dependencies
              run: npm run install:all

            - name: build
              run: npm run build
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            - uses: softprops/action-gh-release@v2
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  files: ${{ inputs['file'] }}
                  draft: false
                  tag_name: ${{ github.ref_name }}
